.App {
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  border: 2px solid black;
  text-align: center;
}

.firstDiv {
  display: flex;
  flex-direction: row;
}

.BUTTON_WRAPPER_STYLES {
  position: "relative";
  z-index: 1;
  
  border: 2px solid green;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
